.main {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__header {
    font-family: "CrocoSansBlackCAPS";
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    max-width: 84%;
    margin-bottom: 4%;
    margin-top: 3%;
  }

  &__redirect {
    position: absolute;
    left: 0;
    top: 4%;
    max-width: 4%;

    &:hover {
      cursor: pointer;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    &__item {
      &:hover {
        cursor: pointer;
      }
      width: 49%;
      height: 80px;
      position: relative;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;

      &__image {
        position: absolute;
        right: 2%;
        top: 19%;
        max-width: 36px;
      }
    }

    &__item.disabled {
      pointer-events: none;
      opacity: 0.65;
    }

    .main__content__item:nth-child(5),
    .main__content__item:nth-child(6) {
      margin-top: 2.5%;
    }
  }

  &__footer {
    width: 99%;
    height: 17.5%;
    border-radius: 21px;
    display: flex;
    align-items: center;
    padding: 0 1.5% 0 3%;
    justify-content: space-between;
    margin-bottom: 1%;
    margin-top: 1%;
    box-shadow: 1px 1px 17px 2px rgb(44 38 38 / 74%);
    background-color: #327477;

    &__text {
      font-size: 17px;
      margin: auto;
      font-family: "CrocoSansBlackCAPS";
    }

    &__withdraw {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5% 7%;
      background-color: #3e9ed5;
      box-shadow: 0px 0px 12px 3px rgb(231 255 238 / 50%) inset;
      border-radius: 25.9px;
      width: 36%;

      &:hover {
        cursor: pointer;
      }

      p {
        font-size: 22px;
        font-family: "CrocoSansBlackCAPS";
      }

      &.notChoosed {
        opacity: 0.67;
        background-color: #9393ae !important;
        pointer-events: none;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .main {
    &__header {
      font-size: 13px;
    }

    &__redirect {
      max-width: 3%;
    }

    &__content {
      &__item {
        height: 58px;

        &__image {
          max-width: 25px;
        }
      }
    }

    &__footer {
      padding: 0 1% 0 7%;
      border-radius: 17.9px;

      &__text {
        font-size: 17px;
      }

      &__withdraw {
        p {
          font-size: 17px;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .main {
    &__content {
      &__item {
        height: 49px;

        &__image {
          max-width: 21px;
        }

        p {
          font-size: 8px;
          line-height: 18px;
        }
      }
    }

    &__footer {
      &__text {
        font-size: 13px;
      }

      &__withdraw {
        p {
          font-size: 14px;
        }
      }
    }
  }
}
