<div class="main">
  <p class="main__header">{{ "slotkey.1" | translate }}</p>

  <img
    src="./assets/images/popups/redirect-back.png"
    alt=""
    class="main__redirect"
    (click)="displayPopupChange.emit()"
  />

  <div class="main__content">
    <div
      (click)="changeSlot(i)"
      class="main__content__item"
      *ngFor="let slot of slots; let i = index"
      [class.disabled]="!slot.state"
      [ngStyle]="{
        'background-image':
          'url(' + './assets/images/slot/' + slot.imgurl + '.png' + ')'
      }"
    >
      <img
        *ngIf="i === choosedSlotIndex"
        class="main__content__item__image"
        src="./assets/images/popups/done.png"
        alt=""
      />
    </div>
  </div>

  <div class="main__footer">
    <p class="main__footer__text">
      {{ currentAmount }} {{ "slotkey.2" | translate }} {{ currentValue }}₾
      {{ "slotkey.3" | translate }}
    </p>
    <div
      class="main__footer__withdraw"
      [class.notChoosed]="choosedSlotIndex == undefined"
      (click)="getSpins()"
    >
      <p>{{ "ufokey.5" | translate }}</p>
    </div>
  </div>
</div>
