@use '../../fonts';

.container {
  margin-bottom: 10px;
}

.last-container {
  margin-bottom: 0;
}

.acc-header {
  min-height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 14px;
  color: #fff;
  background-color: rgba(38, 38, 38, 0.5);
}

.acc-main-header {
  background-color: #0a0c2b;
}

.header-title {
  overflow-wrap: break-word;
  overflow: auto;
  width: 100%;
  text-align: start;
  font-size: 16px;
  font-family: fonts.$font-bold;
}

.acc-body {
  min-height: 30px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  line-height: 1.5rem;
  font-family: fonts.$font-regular;
  font-size: 14px;
}

.arrow {
  display: flex;
  align-items: center;
}


.answer {
  margin: 10px 20px 0;
  font-size: 14px;
  text-align: left;
  letter-spacing: 0;
}

.grid-2 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  -ms-grid-columns: 0.25fr 1fr 0.5fr;
  grid-template-columns: 0.25fr 1fr 0.5fr;
  display: grid;
}

.list {
  margin: 10px;
  text-align: left;
}


@media screen and (max-width: 767px) {

  .acc-body,
  .header-title{
    font-size: 12px;
  }

  .acc-header {
    padding: 8px;
  }

  .arrow-img {
    width: 18px;
  }

  .answer {
    font-size: 12px;
    line-height: 125%;
  }

  .grid-2 {
    margin-bottom: 10px;
    grid-column-gap: 20px;
    -ms-grid-columns: 0.25fr 1fr 1fr;
    grid-template-columns: 0.25fr 1fr 1fr;
    font-size: 12px;
    line-height: 125%;
  }

}

@media screen and (max-width: 479px) {
  .answer {
    font-size: 10px;
    margin-left: 10px;
    line-height: 125%;
  }

  .grid-2 {
    font-size: 10px;
    margin-top: 10px;
    margin-left: 10px;
    grid-column-gap: 5px;
    -ms-grid-columns: 0.25fr 0.75fr 0.5fr;
    grid-template-columns: 0.25fr 0.75fr 0.5fr;
    line-height: 1;
  }

  .list {
    font-size: 10px;
  }
}
