@use "./../../../../../styles/variables";
@use "./../../../../../fonts";

:host {
  width: 90%;
  max-width: 683px;
  margin-top: -6%;

}


.main {
  height: 522px;
  background-image: url("../../../../../assets/images/leaderboard/leaderboard-web.webp");
  background-size: 100% 100%;
  @include variables.dFlex(flex-start, center, column);
  padding: 20px 30px 30px 33px;
  position: relative;

  &__header-img {
    display: none;
  }

  .active {
    box-shadow: 0px 2px 3px 0 rgba(15, 69, 93, 0.74);
    background-color: #d5c085;
  }

  .current {
    .user {
      display: block;
    }

    & {
      mix-blend-mode: hard-light;
      background-color: #19ad4b;
    }
  }


  &__title {
    //text-shadow: 0px 2px 3px rgba(197, 158, 95, 0.74);
    font-family: CrocoSansBLACKCaps;
    font-size: 40.5px;
    color: rgb(235, 209, 167);
    margin-top: 2%;
  }

  &__header, &__content-item {
    @include variables.dFlex(space-between, center);
    margin-top: 9%;
    width: 100%;

    & > :first-child {
      width: 62%;
    }

    div {
      @include variables.dFlex(center, center);
      width: 100%;
      height: 100%;
      font-size: 16px;
      position: relative;

      .user {
        position: absolute;
        right: -12%;
        max-width: 22%;
        display: none;
        filter: brightness(1.2);
        top: 50%;
        transform: translateY(-44%);

      }

      p {
        position: relative;
        color: #67582f;
      }
    }
  }


  &__content {
    margin-top: 6%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    @include variables.dFlex(flex-start, center, column);

    &::-webkit-scrollbar {
      //height: 90%;
      width: 7px;
    }

    &::-webkit-scrollbar-thumb {

      background-color: #ccb26e;
      border-radius: 9px;
    }


    &::-webkit-scrollbar-track-piece {
      background: #0d2c5f;
      border-radius: 80px;
    }
  }

  &__content-item {
    margin: 0;
    width: 100%;
    border-bottom: 3px solid #0d2c5f;
    padding: 7px 3% 7px 0;

    & > :first-child {
      p {
        font-family: CrocoSansBLACKCaps;

      }
    }

    & > :last-child {
      border-radius: 18.5px;
      width: 62%;

      .right {
        justify-content: flex-end !important;
      }

      img {
        transform: translateY(9%);
      }

      p {
        font-family: CrocoSansBLACKCaps;
      }
    }

    div {
      .left {
        justify-content: flex-end;
        padding-right: 4%;
      }

      .right {
        justify-content: flex-start;

      }

      img {
        width: 36px;
      }

      p {
        color: #fff;
        padding: 9px 16px;
        border-radius: 17px;
        min-width: 52px;

      }
    }
  }

  &.sticky {
    .current {
      position: absolute;
      top: 85%;
      width: 89%;
      border-radius: 3px;
      z-index: 2;

      .user {
        display: block;
      }

      & {
        mix-blend-mode: normal;
      }
    }

    .main__content {
      padding-bottom: 56px;
    }
  }
}


@media (max-width: variables.$tablet) {

  :host {
    margin-top: 14%;
    max-width: 340px;
  }


  .main {
    background-image: url("../../../../../assets/images/leaderboard/leaderboard-mob.webp");
    height: 450px;
    padding: 6px 7px 22px 7px;

    &__header-img {
      display: block;
      margin-top: -8%;
    }

    .active {

    }

    .current {
      .user {
        right: -19%;
      }

      & {
      }
    }


    &__title {
      font-size: 29.5px;
      color: #faf7f3;
      text-shadow: 0px 3px 7px rgb(6 6 5 / 74%);
      margin-top: 1%;
    }

    &__header {
      margin-top: 7%;


      & > :first-child {
      }

      & > :nth-child(2) {
        width: 151%;
      }

      & > :last-child {
        border-right: none;
      }

      div {
        border-right: 1px solid #c0ac72;
        font-size: 12.5px;

        .user {
          max-width: 19%;

        }

        p {
          color: #4a4433;
        }
      }
    }


    &__content {


      &::-webkit-scrollbar {
      }

      &::-webkit-scrollbar-thumb {

      }


      &::-webkit-scrollbar-track-piece {
      }
    }

    &__content-item {
      padding: 11px 3px 11px 0;

      & > :first-child {
        p {
          padding: 8px 15px;
          min-width: 36px;
        }
      }

      & > :nth-child(2) {
        width: 151%;
      }

      & > :last-child {


        img {
        }

        p {
        }
      }

      div {
        font-size: 12px;

        .left {
        }

        .right {

        }

        img {
          width: 28px;
        }

        p {
          padding: 6px 1px 6px 10px;
          min-width: 37px;
        }
      }
    }
  }
}
