$white: #fff;
$CrocoSansBlackCAPS: "CrocoSansBlackCAPS";
$TTSupermolotNeue: "TTSupermolotNeue";

$popupPaddings: 10px 21px 35px 21px;
$popupMaxWidth: 400px;
$headerFontSize: 20px;
$headerlineHeight: 32px;
$headerMaginTop: 28px;
$buttonPaddings: 42px 45px;

$buttonFontSize: 22px;
$buttonMarginTop: -6px;
$buttonMarginBottom: -30px;

$popupMaxWidth-L: 421px;
$popupHeaderFontSize-L: 27px;
$popupTextFontSize-L: 16px;
$popupButtonFontSize-L: 18px;

$popupMinWidth-S: 344px;
$popupHeaderFontSize-S: 13px;
$popupTextFontSize-S: 19px;
$popupButtonPaddings-S: 29px 34px;

.main {
  background-image: url("/assets/images/popups/congrets-background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  z-index: 100;
  padding: $popupPaddings;
  max-width: $popupMaxWidth;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__congrets-close {
    position: absolute;
    top: 3%;
    right: 2%;
    width: 8%;
    &:hover {
      cursor: pointer;
    }
  }

  &__header {
    text-shadow: 0px 1px 2px rgb(0 0 0 / 32%);
    font-family: $TTSupermolotNeue;
    font-size: 33px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.63;
    letter-spacing: normal;
    text-align: center;
    color: $white;
    margin-top: 25px;
  }

  &__text {
    text-shadow: 0px 1px 2px rgb(0 0 0 / 32%);
    font-family: $TTSupermolotNeue;
    font-size: $headerFontSize;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: $headerlineHeight;
    letter-spacing: normal;
    text-align: center;
    color: $white;
    margin-top: $headerMaginTop;
  }

  &__button {
    background-image: url("/assets/images/popups/congrat-redirect.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: $TTSupermolotNeue;
    padding: $buttonPaddings;
    font-size: $buttonFontSize;
    margin-top: $buttonMarginTop;
    margin-bottom: $buttonMarginBottom;

    &:hover {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 767px) {
  .main {
    min-width: $popupMaxWidth-L;
    &__header {
      font-size: $popupHeaderFontSize-L;
    }

    &__text {
      font-size: $popupTextFontSize-L;
    }

    &__button {
      font-size: $popupButtonFontSize-L;
    }
  }
}

@media screen and (max-width: 480px) {
  .main {
    min-width: $popupMinWidth-S;

    &__text {
      font-size: $popupHeaderFontSize-S;
      line-height: $popupTextFontSize-S;
    }

    &__button {
      font-size: $popupButtonFontSize-L;
      padding: $popupButtonPaddings-S;
    }
  }
}
