<div *ngIf="iframeTabsData$ | async as iframeTabsData" class="main">
  <div class="main__tabs">

    <div (click)="changeTab(tab.gameId)" *ngFor="let tab of iframeTabsData.tabs; let i = index"
         [class.active]="tab.isCurrent"
         class="tab pointer">
      <div class="tab__content">
        <img alt="" src="./assets/images/tabs/{{tab.header}}.png">
        <div class="tab__texts">
          <p>{{tab.header}}</p>
          <div>{{tab.text}}<span>{{tab.amount}}</span></div>
        </div>
      </div>
    </div>


  </div>
  <div class="main__iframe">
    <img alt="" class="main__iframe__bg" src="./assets/images/tabs/iframe-bg.png">
    <img *ngIf="!iframeTabsData.iframeUrl else iframe" class="main__iframe__default"
         src="{{ 'iframeBgUrl' | translate }}">
    <ng-template #iframe>
      <iframe #iframe [src]="iframeTabsData.iframeUrl" id="gameFrame" rel="prefetch"
      ></iframe>
    </ng-template>
  </div>
  <ng-content></ng-content>
</div>


