<div class="main">
  <div class="main__tabs">

    <div (click)="changeTab(i,tab.gameId)" *ngFor="let tab of tabs; let i = index" [class.active]="i === currentTab"
         class="tab pointer">
      <div class="tab__content">
        <img alt="" src="./assets/images/tabs/{{tab.header}}.png">
        <div class="tab__texts">
          <p>{{tab.header}}</p>
          <div>{{tab.text}}<span>{{tab.amount}}</span></div>
        </div>
      </div>
    </div>


  </div>
  <div class="main__iframe">
    <img alt="" src="./assets/images/tabs/iframe-bg.png">
    <iframe #iframe *ngIf="IframeUrl" [src]="IframeUrl" id="gameFrame" rel="prefetch"
    ></iframe>

    <!--    <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"-->
    <!--            allowfullscreen frameborder="0"-->
    <!--            height="315"-->
    <!--            src="https://bonus-space.crocobet.com/home/authtest?playerId=48362&token=5dda5665-dd8a-4f6a-93f6-66890464c707.oddsapi1&language=en"-->
    <!--            title="YouTube video player"-->
    <!--    ></iframe>-->
  </div>
</div>
