$white: #fff;
$CrocoSansBlackCAPS: "CrocoSansBlackCAPS";
$withdrawPopupMaxWidth: 483px;
$withdrawPopupHeight: 549px;
$withdrawPopupZindex: 10;
$withdrawPopupPaddings: 11px 11px;
$withdrawPopupBorderRadius: 20px;
$withdrawPopupFontSize: 18px;
$withdrawPopupMarginBottom: -6px;
$popupRowBoxShadow: 3px 17px 14px 2px rgb(0 0 0 / 20%);
$popupWidthInMobile: 392px;
$popupHeightInMobile: 447px;
$popupMobileHeader: 17px;
$popupMobileMarginTop: 15px;
$popupMobileFontSize: 36px;
$popupMobileHeaderFontSize-S: 14px;
$popupWidthInMobile-S: 321px;
$popupHeightInMobile-S: 398px;
$popuptextFontSizeMobile-S: 26px;

.withdraw-background {
  position: relative;
  max-width: $withdrawPopupMaxWidth;
  height: $withdrawPopupHeight;
  z-index: $withdrawPopupZindex;
  padding: $withdrawPopupPaddings;
  border-radius: $withdrawPopupBorderRadius;
  background-image: url("/assets/images/popups/popup-background.png");
  background-size: 100% 100%;

  &__close {
    top: 0;
    right: 0;
    position: absolute;
    max-width: 9.5%;
    transform: translate(4%, -14%);
    z-index: 100;

    &:hover {
      cursor: pointer;
    }
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 2% 1.5% 1% 1.5%;
    &__header {
      font-family: $CrocoSansBlackCAPS;
      font-size: $withdrawPopupFontSize;
      line-height: 1.2;
      text-align: center;
      color: $white;
      max-width: 84%;
      margin-bottom: $withdrawPopupMarginBottom;
    }

    & > :nth-child(2) {
      background-color: #a57c53;
    }

    & > :nth-child(3) {
      background-color: #096466;
    }

    & > :nth-child(4) {
      background-color: #3473c2;
    }

    &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 21px;
      width: 90%;
      border-radius: 20px;
      padding: 0 4%;
      height: 26%;
      box-shadow: $popupRowBoxShadow;

      &:hover {
        cursor: pointer;
      }

      &__left {
        max-width: 26%;
        transform: scale(1.5) translateY(11%);
      }

      &__text {
        font-size: 42px;
        font-family: $CrocoSansBlackCAPS;
      }

      &__redirect {
        max-width: 31%;
        max-height: 31%;

        &:hover {
          cursor: pointer;
        }
      }
    }

    &__row.disabled {
      pointer-events: none;
      opacity: 0.7;
    }
  }
}

@media screen and (max-width: 767px) {
  .withdraw-background {
    width: $popupWidthInMobile;
    height: $popupHeightInMobile;
    .main {
      &__header {
        font-size: $popupMobileHeader;
      }

      &__row {
        padding: 0 8%;
        margin-top: $popupMobileMarginTop;
        &__left {
        }

        &__text {
          font-size: $popupMobileFontSize;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .withdraw-background {
    width: $popupWidthInMobile-S;
    height: $popupHeightInMobile-S;
    .main {
      &__header {
        font-size: $popupMobileHeaderFontSize-S;
      }

      &__row {
        padding: 0 8%;

        &__text {
          font-size: $popuptextFontSizeMobile-S;
        }
      }
    }
  }
}
