@use "./../../../../../styles/variables";

:host {
  width: 100%;
  max-width: 663px;
  @include variables.dFlex(center);
  z-index: 1;
  margin-top: 30px;
}

$bold: 'CrocoSansBlackCAPS';

.main {
  width: 97%;
  max-width: 663px;
  @include variables.dFlex(space-between, center, column);
  position: relative;

  &__popup {
    position: absolute;
    bottom: 190%;
    height: 600px;
    width: 100%;
    background-image: url("../../../../../assets/images/history/history-back-web.webp");
    background-size: 100% 100%;
    @include variables.dFlex(space-between, center, column);
    padding: 5px 20px 13px 20px;
    margin-top: 19px;


    &__header {
      font-size: 32px;
      font-weight: 900;
      color: #5281aa;
      font-family: $bold;
      margin-top: 4%;
    }

    &__content {
      background-image: url("../../../../../assets/images/history/history-content-web.webp");
      background-size: 100% 100%;
      width: 100%;
      height: 100%;
      padding: 15px 0px 1px 0;
      margin-top: 12px;

      .item {
        width: 100%;
        @include variables.dFlex();

        div {
          width: 100%;
          font-size: 15px;
          color: #46759d;
        }
      }

      .content-header {
        margin-top: 12px;
      }

      .content {
        @include variables.dFlex(space-between, center, column);
        width: 99%;
        height: 100%;
        overflow: hidden;
        overflow-y: scroll;
        padding: 0px 16px;
        margin-top: 5px;
        max-height: 447px;


        &::-webkit-scrollbar {
          width: 4px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: rgb(206, 180, 110);
          border-radius: 4px;
        }


        &::-moz-scrollbar-thumb {
          background-color: rgb(206, 180, 110);
          border-radius: 9px;
        }

        &::-webkit-scrollbar-track-piece {
          background: #00000040;
          border-radius: 80px;
        }

        .item {
          min-height: 46px;
          width: 100%;
          background-image: url("../../../../../assets/images/history/item-back-web.webp");
          background-size: 100% 100%;
          margin-top: 10px;
        }

      }
    }
  }

  &__button {
    background-image: url("../../../../../assets/images/history/history-btn.webp");
    background-size: 100% 100%;
    font-size: 20px;
    font-family: $bold;
    padding: 23px 27px;
  }
}




