<!--<div class="main">-->
<!--  <div class="main__popup">-->
<!--    <p class="main__popup__header">ისტორია</p>-->
<!--    <div class="main__popup__content">-->
<!--      <div class="content-header item">-->
<!--        <div>-->
<!--          <div>თარიღი</div>-->
<!--        </div>-->
<!--        <div>-->
<!--          <div>რაპდენობა</div>-->
<!--        </div>-->
<!--        <div>-->
<!--          <div>პროდუქტი</div>-->
<!--        </div>-->

<!--      </div>-->

<!--      <div class="content">-->
<!--        <div *ngFor="let item of items" class="item">-->
<!--          -->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="main__button pointer click">-->
<!--    ისტორია-->
<!--  </div>-->
<!--</div>-->
