<body
  class="body-87"
  [ngClass]="{
    bgge: ('lang' | translate) === 'ge',
    bgen: ('lang' | translate) === 'en',
    bgru: ('lang' | translate) === 'ru'
  }"
>
  <div class="section-cb wf-section">
    <div class="content-cb">
      <div class="text-block-22824">
        {{ "beforeBr" | translate }}
      </div>
      <div class="text-block-22825">
        {{ "afterBr" | translate }}
      </div>
      <div class="chaerte_wrp" *ngIf="!isAuthorized">
        <div class="text-block-22871">
          {{ "toEnter" | translate }}
        </div>
        <div class="w-layout-grid grid-7">
          <a href="#" class="chaerte_btn w-button" (click)="onRegister()">{{
            "register" | translate
          }}</a>
          <a href="#" class="chaerte_btn auto w-button" (click)="onLogin()">{{
            "authorize" | translate
          }}</a>
        </div>
        <div class="w-embed"></div>
      </div>
      <div class="play">
        <a
          href="https://crocobet.com/#/slots"
          target="_blank"
          class="play_bt w-button"
          >{{ "play" | translate }}</a
        >
        <a
          href="https://m.crocobet.com/#/slots"
          target="_blank"
          class="play_bt m w-button"
          >{{ "play" | translate }}</a
        >
      </div>
      <div class="div-block-40972"></div>
      <div class="div-block-40975">
        <div
          data-current="Tab 1"
          data-easing="ease"
          data-duration-in="300"
          data-duration-out="100"
          class="tabs w-tabs"
        >
          <div
            class="tabs-menu w-tab-menu"
            [ngClass]="{ disabled: disableDiv === true }"
          >
            <a
              data-w-tab="Tab 1"
              id="tab1"
              class="tab _1 w-inline-block w-tab-link w--current"
              [ngClass]="{ 'w--current': wheelType === 'silver' }"
              (click)="getType('silver')"
            >
              <div
                id="icon1"
                class="wheeliconwrp selected"
                [ngClass]="{ selected: wheelType === 'silver' }"
              >
                <img
                  loading="lazy"
                  src="../../assets/images/slot-vip-wheel/wheel_icon.png"
                  alt=""
                  class="image-2625184"
                />
                <div>{{ "silver" | translate }}</div>
                <img
                  loading="lazy"
                  src="../../assets/images/slot-vip-wheel/refresh_icon.png"
                  alt=""
                  class="refreshicon"
                />
              </div>
            </a>
            <a
              data-w-tab="Tab 2"
              id="tab2"
              class="tab gold w-inline-block w-tab-link"
              [ngClass]="{ 'w--current': wheelType === 'gold' }"
              (click)="getType('gold')"
            >
              <div
                id="icon2"
                class="wheeliconwrp"
                [ngClass]="{ selected: wheelType === 'gold' }"
              >
                <img
                  loading="lazy"
                  src="../../assets/images/slot-vip-wheel/whgold.png"
                  alt=""
                  class="image-2625184"
                />
                <div>{{ "gold" | translate }}</div>
                <img
                  loading="lazy"
                  src="../../assets/images/slot-vip-wheel/refresh_iconGold.png"
                  alt=""
                  class="refreshicon"
                />
              </div>
            </a>
            <a
              data-w-tab="Tab 3"
              id="tab3"
              class="tab w-inline-block w-tab-link"
              [ngClass]="{ 'w--current': wheelType === 'platinum' }"
              (click)="getType('platinum')"
            >
              <div
                id="icon3"
                class="wheeliconwrp"
                [ngClass]="{ selected: wheelType === 'platinum' }"
              >
                <img
                  loading="lazy"
                  src="../../assets/images/slot-vip-wheel/wheel_icon.png"
                  alt=""
                  class="image-2625184"
                />
                <div>{{ "platinum" | translate }}</div>
                <img
                  loading="lazy"
                  src="../../assets/images/slot-vip-wheel/refresh_icon.png"
                  alt=""
                  class="refreshicon"
                />
              </div>
            </a>
          </div>
          <div class="tabs-content w-tab-content">
            <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active">
              <app-wheel-component
                (newEvent)="getState($event)"
                [wheelType]="wheelType"
              ></app-wheel-component>
              <div class="wheel_wrp">
                <div class="history_wrp">
                  <div>
                    შეასრულე
                    <span class="text-span">{{ amount }}</span> პროგრესი
                  </div>
                  <a
                    href="#"
                    data-w-id="dc5150c3-f693-111f-46c2-dbb67ae928f1"
                    class="history_btn w-button"
                    >{{ "history" | translate }}</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slots">
        <div>{{ "getEGT" | translate }}</div>
        <div class="w-layout-grid grid-4">
          <a
            href="https://crocobet.com/#/slots/play?slot=20%20Dazzling%20Hot&amp;provider=egt"
            target="_blank"
            class="div-block-40974 w-inline-block"
          >
            <div class="text-block-22872">
              20 DAZZLING HOT<br />1 სპინი = 1₾
            </div>
          </a>
          <a
            href="https://crocobet.com/#/slots/play?slot=Shining%20Crown&amp;provider=egt"
            target="_blank"
            class="div-block-40974 _2 w-inline-block"
          >
            <div class="text-block-22872">SHINING CROWN<br />1 სპინი = 2₾</div>
          </a>
          <a
            href="https://crocobet.com/#/slots/play?slot=81%20Wins&amp;provider=egt"
            target="_blank"
            class="div-block-40974 _3 w-inline-block"
          >
            <div class="text-block-22872">81 WINS<br />1 სპინი = 5₾</div>
          </a>
        </div>
        <div class="w-layout-grid grid-4 m">
          <a
            href="https://m.crocobet.com/#/launcher?url=https:%2F%2Fapi.crocobet.com%2Frest%2Fintegrations%2Fig%2Fegtgames%2Fget_game%3Fgameid%3D544%26ismobile%3Dtrue&amp;isUfo=false"
            target="_blank"
            class="div-block-40974 w-inline-block"
          >
            <div class="text-block-22872">
              20 DAZZLING HOT<br />1 სპინი = 1₾
            </div>
          </a>
          <a
            href="https://m.crocobet.com/#/launcher?url=https:%2F%2Fapi.crocobet.com%2Frest%2Fintegrations%2Fig%2Fegtgames%2Fget_game%3Fgameid%3D831%26ismobile%3Dtrue&amp;isUfo=false"
            target="_blank"
            class="div-block-40974 _2 w-inline-block"
          >
            <div class="text-block-22872">SHINING CROWN<br />1 სპინი = 2₾</div>
          </a>
          <a
            href="https://m.crocobet.com/#/launcher?url=https:%2F%2Fapi.crocobet.com%2Frest%2Fintegrations%2Fig%2Fegtgames%2Fget_game%3Fgameid%3D549%26ismobile%3Dtrue&amp;isUfo=false"
            target="_blank"
            class="div-block-40974 _3 w-inline-block"
          >
            <div class="text-block-22872">81 WINS<br />1 სპინი = 5₾</div>
          </a>
        </div>
      </div>
    </div>
    <div class="w-embed">
      <!-- <app-accordion>
  <app-accordion-item [mainHeader]="true" [title]="title![lang]">
    <app-accordion>
      <app-accordion-item *ngFor="let rule of rules" [title]="rule[lang].question">
        <div [innerHTML]="rule[lang].answer"></div>
      </app-accordion-item>
    </app-accordion>
  </app-accordion-item>
  <app-accordion-item [mainHeader]="true" [title]="additionalRules![lang].question">
    <div class="list" [innerHTML]="additionalRules![lang].answer"></div>
  </app-accordion-item>
</app-accordion>  -->
    </div>
  </div>
</body>
