<div class="body">
  <div class="section wf-section">
    <div class="content">
      <img
        src="../../{{ filePath }}assets/images/geo.png"
        width="193"
        alt=""
        class="image-2625167"
      />
      <div class="tv_wrp">
        <div class="geo">
          <div
            data-w-id="edae0f42-ea61-100e-2314-4e72125982fc"
            style="display: block"
            class="title"
          >
            <div class="text-block-22883" #test2>{{ "win" | translate }}</div>
            <div class="text-block-22884">{{ "flat" | translate }}</div>
            <div class="text-block-22885">{{ "batumi" | translate }}</div>
          </div>
          <div
            data-w-id="c57d3d14-539d-5087-5848-7e83c0e736b2"
            class="lottie-animation"
            data-animation-type="lottie"
            data-src="documents/ge.json"
            data-loop="1"
            data-direction="1"
            data-autoplay="1"
            data-is-ix2-target="0"
            data-renderer="svg"
            data-default-duration="2.7027025926193717"
            data-duration="0"
          ></div>
        </div>
      </div>
      <div class="text-block-22877">
        {{ "headerTop" | translate }}
      </div>
      <div class="text-block-22876">
        {{ "headerBottom" | translate }}
      </div>
      <div class="chaerte_wrp" *ngIf="!isAuthorized">
        <div class="text-block-22871">
          გაიარე ვერიფიკაცია და მიიღე ყოველდღიური გათამაშების
          <span class="text-span-190">100 ბილეთი!</span>
        </div>
        <div class="w-layout-grid grid-7">
          <a href="#" class="chaerte_btn w-button" (click)="onRegister()">{{
            "register" | translate
          }}</a>
          <a href="#" class="chaerte_btn auto w-button" (click)="onLogin()">{{
            "authorize" | translate
          }}</a>
        </div>
      </div>
      <a
        href="https://crocobet.com/#/casino"
        target="_blank"
        class="bt w-button"
        >{{ "play" | translate }}</a
      >
      <a
        href="https://m.crocobet.com/#/casino"
        target="_blank"
        class="bt m w-button"
        >{{ "play" | translate }}</a
      >
      <div
        data-current="Tab 1"
        data-easing="ease"
        data-duration-in="300"
        data-duration-out="100"
        class="tabs w-tabs"
      >
        <div class="tabs-menu-13 w-tab-menu">
          <a
            data-w-tab="Tab 1"
            class="tablinkcasino2 w-inline-block w-tab-link"
            [ngClass]="{ selected: component === 'daily' }"
            (click)="getTab('daily')"
          >
            <div class="tablinkheader2 active">
              <img
                src="../../{{ filePath }}assets/images/coins_bl.png"
                alt=""
                class="coins"
              />
              <div>{{ "daily" | translate }}</div>
              <div class="tickets_wrp">
                <div class="text-block-22873">
                  {{ "myTickets" | translate }}
                </div>
                <div class="tkt_stroke">
                  <div class="tkt_wrp">
                    <div id="tkt_daily" class="tkt_text">{{ totalDaily }}</div>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a
            data-w-tab="Tab 2"
            class="tablinkcasino w-inline-block w-tab-link"
            [ngClass]="{ selected: component === 'final' }"
            (click)="getTab('final')"
          >
            <div class="tablinkheader active">
              <img
                src="../../{{ filePath }}assets/images/coins_grn.png"
                alt=""
                class="coins"
              />
              <div>{{ "final" | translate }}</div>
              <div class="tickets_wrp">
                <div class="text-block-22873">
                  {{ "myTickets" | translate }}
                </div>
                <div class="tkt_stroke grn">
                  <div class="tkt_wrp grn">
                    <div id="tkt_final" class="tkt_text">
                      {{ finalData.total }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="tabs-content-13 w-tab-content">
          <app-everyday-tickets
            *ngIf="component === 'daily'"
            (tickets)="setTicket($event)"
            [lang]="lang"
          ></app-everyday-tickets>
          <app-final-tickets
            [userData]="finalData"
            [progress]="progress"
            *ngIf="component === 'final'"
          ></app-final-tickets>
        </div>
      </div>
      <div class="gr_wrp">
        <div class="div-block-40890">
          <div class="video-popup" *ngIf="test">
            <img
              src="../../{{ filePath }}assets/images/x.svg"
              class="video-popup-close"
              alt=""
              scroll="no"
              (click)="closeRecentVideo()"
            />
            <iframe
              [src]="'https://www.youtube.com/embed/80p80ynsZ78' | safeUrl"
              frameborder="0"
              allow="fullscreen"
              class="video-popup-iframe"
            ></iframe>
          </div>
          <div class="live-container" *ngIf="isLive">
            <iframe
              [src]="'https://www.youtube.com/embed/g-DESpow9xo' | safeUrl"
              frameborder="0"
              class="live-container-iframe"
            ></iframe>
          </div>
          <div class="text-block-22878" *ngIf="!isLive">
            {{ "watchLive" | translate }}
            <span
              data-w-id="99309747-9799-1173-675d-2709e2bee2e0"
              class="text-span-188"
              (click)="openModal()"
              >{{ "winSpins" | translate }}!</span
            >
          </div>
          <div class="gr_wrp _2" *ngIf="!isLive">
            <div class="div-block-40891">
              <div>{{ "waitLive" | translate }}</div>
              <div class="w-layout-grid timer_wrp">
                <div
                  id="w-node-_9465f060-8de9-dc5f-1e4e-47727898823c-891ec38b"
                  class="timwe_strk"
                >
                  <div class="timer">
                    <div id="ho" class="timer_t">{{ timer.hours }}</div>
                    <div class="timer_txt">{{ "hour" | translate }}</div>
                  </div>
                </div>
                <div
                  id="w-node-_7e3549f4-fc8a-4a4d-c49b-7ec768aed07f-891ec38b"
                  class="timwe_strk"
                >
                  <div class="timer">
                    <div id="min" class="timer_t">{{ timer.minutes }}</div>
                    <div class="timer_txt">{{ "min" | translate }}</div>
                  </div>
                </div>
                <div
                  id="w-node-_057527a8-4eac-a788-2d16-0c4f3bb314ce-891ec38b"
                  class="timwe_strk"
                >
                  <div class="timer">
                    <div id="sec" class="timer_t">{{ timer.seconds }}</div>
                    <div class="timer_txt">{{ "sec" | translate }}</div>
                  </div>
                </div>
              </div>
              <div class="w-embed">
                <style>
                  .timer_t {
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-stroke-color: white;
                  }
                </style>
              </div>
            </div>
          </div>
          <div class="gr_wrp _3">
            <div class="div-block-40891-copy">
              <p class="paragraph">{{ "getSpins" | translate }}</p>
              <a
                href="#"
                class="bt-2 w-button"
                [ngClass]="disableBtn === true ? 'disableBtn' : ''"
                (click)="submitAnswer()"
                >{{ "freespins" | translate }}<br />{{ "get" | translate }}</a
              >
            </div>
          </div>
          <div class="video_wrp">
            <div class="div-block-40887">
              <img
                src="../../{{ filePath }}assets/images/play.svg"
                alt=""
                class="image-2625165"
              />
              <div class="text-block-2155">{{ "watchRecent" | translate }}</div>
            </div>
            <div class="w-layout-grid gal_vid">
              <a
                class="lightbox-link-2 w-inline-block w-lightbox"
                *ngFor="let video of streams"
                (click)="openRecentVideo()"
              >
                <div class="div-block-40888">
                  <div class="div-block-19464"></div>
                  <div
                    style="padding-top: 56.17021276595745%"
                    class="w-embed-youtubevideo youtube-2"
                  >
                    <iframe
                      [src]="video.twitchUrl | safeUrl"
                      frameborder="0"
                      style="
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        pointer-events: auto;
                      "
                      allow="autoplay; encrypted-media"
                      allowfullscreen=""
                      title="🟢 კროკობეთის გრანდიოზული გათამაშება დაიწყო."
                    ></iframe>
                  </div>
                </div>
                <div class="text-block-2156">{{ video.schedule }}</div>
              </a>
            </div>
          </div>
          <div class="popup_bonus" *ngIf="openInfo">
            <img
              src="../../{{ filePath }}assets/images/x.svg"
              data-w-id="df4428f1-b7ca-48ba-e34b-51cdad36f7c1"
              alt=""
              class="x_popup"
              (click)="closeModal()"
            />
            <p>
              თუ მინდინარე დღის გათამაშებაში დაგროვებული გაქვს 300 ბილეთი და
              გათამაშების მიმდინარეობისას დააჭერ ღილაკზე „ფრისპინების მიღება“,
              დაგერიცხება 300 EGT ფრისპინი.<br /><br />ბონუს რაუნდში შეგიძლია
              მიიღო მინ. 10 და მაქს. 500 EGT ფრისპინი;<br /><br />ფრისპინები
              დაგერიცხება 1 საათის განმავლობაში;<br /><br />ყოველდღიურ
              გათამაშებაში დაგერიცხება 0.15 ლარიანი ფრისპინები სლოტში
              ZODIAC WHEEL;<br /><br />ფინალურ გათამაშებაში დაგერიცხება 0.5
              ლარიანი ფრისპინები სლოტში ZODIAC WHEEL;<br /><br /><span
                >*ფრისპინები დაერიცხება პირველ 2 000 მომხმარებელს, რომლებიც
                დააჭერენ ღილაკს &quot;ფრისპინების მეღება&quot;.</span
              >
            </p>
          </div>
          <div class="popup_prize h">
            <img
              src="../../{{ filePath }}assets/images/x.svg"
              alt=""
              class="x_popup"
            /><img
              src="../../{{ filePath }}assets/images/shape-2.svg"
              alt=""
              class="image-2625168"
            />
            <p>
              <span class="text-span-192">გილოცავთ!<br /></span>‍<br />შენ მიიღე
              <span id="frsp" class="text-span-194">X</span> ცალი
              <span id="frsp_amount">Y</span> ლარიანი EGT ფრისპინი<br /><br /><span
                class="text-span-193"
                >*ფრისპინები დაირიცხება სლოტში ZODIAC WHEEL გათამაშების
                დასრულებიდან 1 საათის განმავლობაში</span
              >
            </p>
          </div>
          <div class="popup_chaerte h">
            <div class="text-block-22887">
              აქციაში მონაწილეობის მისაღებად, გთხოვთ,<br />გაიაროთ ავტორიაზია ან
              დარეგისტრირდეთ
            </div>
            <img
              src="../../{{ filePath }}assets/images/x.svg"
              alt=""
              class="x_popup"
            />
            <div class="w-layout-grid grid-7">
              <a href="#" class="chaerte_btn2 w-button">რეგისტრაცია</a>
              <a href="#" class="chaerte_btn2 auto _2 w-button">ავტორიზაცია</a>
            </div>
          </div>
          <div class="popup_error h">
            <img
              src="../../{{ filePath }}assets/images/shape-1.svg"
              alt=""
              class="image-2625169"
            />
            <div class="text-block-22887">
              EGt ფრისპინების მისაღებად აუილებელია დაგროვებული გქონდეს მინ. 10
              ბილეთი
            </div>
            <img
              src="../../{{ filePath }}assets/images/x.svg"
              alt=""
              class="x_popup"
            />
          </div>
          <div class="popup_error2 h">
            <img
              src="../../{{ filePath }}assets/images/shape-1.svg"
              alt=""
              class="image-2625169"
            />
            <div class="text-block-22887">
              შენ უკვე მიღებული გაქვს დღევანდელი პრიზი!<br /><br />უყურე LIVE
              გათამაშებას ხვალ 21:55 საათზე და მოიგე EGT ფრისპინები.
            </div>
            <img
              src="../../{{ filePath }}assets/images/x.svg"
              alt=""
              class="x_popup"
            />
          </div>
          <div class="popup_time h">
            <img
              src="../../{{ filePath }}assets/images/shape-3.svg"
              alt=""
              class="image-2625170"
            />
            <div class="text-block-22887">
              ფრისპინების მიღება შეუძლია პირველ 2 000  მომხმარებელს.<br /><br />უყურე
              გათამაშებას ხვალ, 21:55 საათზე და მიიღე 500 EGT ფრისპინი!
            </div>
            <img
              src="../../{{ filePath }}assets/images/x.svg"
              alt=""
              class="x_popup"
            />
          </div>
        </div>
      </div>
      <div class="slider_wrp">
        <div class="slider_title_kanti">
          <div class="text-block-730">
            {{ "inspect" | translate }}
            <span class="text-span-187">{{ "fromFlat" | translate }}</span>
          </div>
        </div>
        <div
          data-delay="4000"
          data-animation="slide"
          class="test slider w-slider"
          data-autoplay="false"
          data-easing="ease"
          data-hide-arrows="true"
          data-disable-swipe="false"
          data-autoplay-limit="0"
          data-nav-spacing="5"
          data-duration="500"
          data-infinite="true"
        >
          <div class="mask w-slider-mask">
            <div class="slide w-slide">
              <div class="video_frame">
                <div class="html-embed w-embed w-iframe">
                  <iframe
                    [src]="'https://streamable.com/e/t4mx1g' | safeUrl"
                    frameborder="0"
                    width="100%"
                    height="100%"
                    allowfullscreen=""
                    style="
                      width: 100%;
                      height: 100%;
                      position: absolute;
                      width: 101%;
                      height: 102%;
                    "
                  ></iframe>
                </div>
              </div>
            </div>
            <div class="slide w-slide">
              <a href="#" class="lightbox-link w-inline-block w-lightbox"
                ><img src="images/1.png" alt="" />
              </a>
            </div>
          </div>
          <div class="left-arrow w-slider-arrow-left"></div>
          <div class="right-arrow w-slider-arrow-right"></div>
          <div class="slide-nav w-slider-nav w-round"></div>
        </div>
      </div>
      <div class="rules-container">
        <app-accordion class="accor">
          <app-accordion-item [mainHeader]="true" [title]="'rules' | translate">
            <app-accordion>
              <app-accordion-item
                *ngFor="let rule of rules"
                [title]="rule.title"
              >
                <div class="table-content" [innerHTML]="rule.content"></div>
              </app-accordion-item>
            </app-accordion>
          </app-accordion-item>
          <app-accordion-item
            [mainHeader]="true"
            [title]="additionalRules?.title"
          >
            <div class="list" [innerHTML]="additionalRules?.content"></div>
          </app-accordion-item>
        </app-accordion>
      </div>
    </div>
    <div class="reglament">
      <a
        href="./../../assets/documents/2022 წლის ივლისის თვის პატარა წამახალისებელი 430 მესამე vol2.pdf"
        class="pdf-bt"
        >{{ "reglament" | translate }}</a
      >
      <a href="./../../assets/documents/19 03 430.pdf" class="pdf-bt">{{
        "permission" | translate
      }}</a>
    </div>
  </div>
</div>
