.info-wheel{
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  position: relative;
  width: 560px;
  height: 320px;


  object-fit: contain;
  border-radius: 20px;
  border: 1px solid #925d10;

  border-image-slice: 1;
  background-image: url(../../../../../assets/iimages/wheel-info.webp);
  background-repeat: no-repeat;
  background-origin: border-box;
  background-clip: content-box, border-box;

  p{
  width: 500px;
  height: 231px;
  margin: 39px 11px 0 0;
  object-fit: contain;
  font-family: 'CrocoSansCAPSRegular', sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  text-align: center;
  color: #fff;
  }
}


.cancel-wheel{
  width: 26px;
  height: 26px;
  position: absolute;
  background-image: url(../../../../../assets/iimages/cancel.webp);
  top: 13px;
  right: 13px;
  z-index: 3;
  cursor: pointer;
}


@media (max-width: 585px) {
  .info-wheel{
    width: 350px;
    height: 200px;

  P{
    width: 280px;
    height: 89px;
    margin: 17px 10px 0 0;
    font-size: 13px;

  }
}
}

