<div class="main">
  <img
    src="./assets/images/popups/redirect-back.png"
    alt=""
    class="main__redirect"
    (click)="displayPopupBack.emit()"
  />

  <img
    src="./assets/images/popups/{{ data.headerImageUrl }}.png"
    class="main__header-image"
    [class.casinoImage]="data.popypType == 'CASINO'"
    alt=""
  />

  <p class="main__header-text">{{ data.texts.headertextKey | translate }}</p>
  <p class="main__text" [class.casinoText]="data.popypType == 'UFO'">
    {{ data.texts.contenttextKey | translate }}
  </p>

  <div class="main__footer">
    <p class="main__footer__text">
      {{ data.withdrawTextkey1 | translate }}{{ data.amount
      }}{{ data.withdrawTextkey2 | translate }}
    </p>
    <div class="main__footer__withdraw" (click)="cashout()">
      <p>{{ "ufokey.5" | translate }}</p>
    </div>
  </div>
</div>
