// common variables

// main background color
$main-bg: #0c1514;

// main header text color
$main-header-color: rgb(79, 232, 97);

// auth block colors
$auth-bg-color: rgba(55, 68, 94, 0.9);
$reg-btn-color: rgb(21, 175, 68);
$auth-btn-color: rgb(37, 43, 51);

// rules background colors
$rules-main-bg: #252f43;
$rules-secondary-bg: #252f43;

// colors
$white: #fff;

// header font sizes
$font-size-header-l: 30px;
$font-size-header-m: 24px;
$font-size-header-s: 20px;

// fonts-sizes
$font-size-l: 18px;
$font-size-m: 16px;
$font-size-s: 14px;
$font-size-xs: 12px;

// border-radius

// responsive
$tablet-l: 1000px;
$tablet: 767px;
$mobile: 479px;
