<crc-accordion *ngIf="{ rules: rules$ | async } as params">
  <crc-accordion-item [mainHeader]="true" [title]="'rules' | translate">
    <crc-accordion>
      <crc-accordion-item
        *ngFor="let rule of params.rules!.mainRules"
        [title]="rule.title"
      >
        <div [innerHTML]="rule.content"></div>
      </crc-accordion-item>
    </crc-accordion>
  </crc-accordion-item>
  <crc-accordion-item
    [mainHeader]="true"
    [title]="params.rules!.additionalRule.title"
  >
    <div [innerHTML]="params.rules!.additionalRule.content"></div>
  </crc-accordion-item>
</crc-accordion>
