<div class="main">
  <div class="container">
    <crc-popup-container (closePopup)="closePopup()" [closeImage]="'assets/images/x.svg'" [containerStyles]="infoPop"
      [isBackdropClosable]="true" *ngIf="infoPopup">
      <!-- template here -->
      <div class="wh-text">
        <p>{{"wh-popup.1" | translate}}</p>
        <p> {{"wh-popup.2" | translate}}</p>
        <p> {{"wh-popup.3" | translate}}</p>
      </div>
    </crc-popup-container>

    <crc-popup-container (closePopup)="closePopup()" [closeImage]="'assets/images/x.svg'"
      [containerStyles]="historyPopupContainerStyles" [isBackdropClosable]="true" *ngIf="historyPopup">
      <!-- template here -->

      <div class="content">
        <div class="history-popup__item">
          <span>{{"pop-date" | translate}}</span>
          <span>{{"pop-prize" | translate}}</span>
        </div>
        <div class="history-popup__item" *ngFor="let h of history[0][1]">
          <span>{{h.createdAt | date: 'dd.MM'}} </span>
          <span>{{h.prize.name.replace('-', ' ').replace('-', ' ').toUpperCase()}} {{"freespin" | translate}}</span>
        </div>
      </div>

    </crc-popup-container>
    <crc-popup-container (closePopup)="closePopup()" [closeImage]="'assets/images/x.svg'"
      [containerStyles]="popupContainerStyles" [isBackdropClosable]="true" *ngIf="winPopup">
      <!-- template here -->
      <ng-container *ngIf="plinko else egt">
        <div class="win">
          <p>{{"congrats"| translate}}</p>
          <p><span>{{"you-win.1"| translate}}</span> {{spinAmount / 100}} <span>{{"you-win.2"| translate}}</span></p>
          <p>{{"claim-prize"| translate}}</p>
          <crc-play-button [redirectUrl]="redirectUrlPlinko"></crc-play-button>
        </div>
      </ng-container>

      <ng-template #egt>
        <div class="win">
          <p>{{"congrats"| translate}}</p>
          <p><span>{{"you-win-egt.1"| translate}}</span> {{spinAmount}} <span>{{"you-win-egt.2"| translate}}</span></p>
          <p>{{"claim-prize-egt"| translate}}</p>
          <crc-play-button [redirectUrl]="redirectUrlEGT"></crc-play-button>
        </div>
      </ng-template>

    </crc-popup-container>
    <div class="container__arrow">
      <img [src]="arrowImage" />
    </div>
    <div class="container__frame">
      <img class="info" src="./assets/images/info.webp" (click)="openInfo()" alt="info">
      <img [src]="frameImage" />
    </div>
    <div class="container__prizes">
      <img [src]="prizesImage" #prizeElement />
    </div>
    <div class="container__btn">
      <img *ngIf="!isDisabled && isLoggedIn && available != 0 && !(isButtonDisabled$ | async)" [src]="buttonImage"
        (click)="getPrize()" />
      <img *ngIf="isDisabled || !isLoggedIn || available == 0 || (isButtonDisabled$ | async)"
        [src]="buttonDisabledImage" [class.disabled]="isDisabled" />
    </div>
  </div>
  <button class="history" (click)="openHistory()">{{ "history" | translate}}</button>
</div>