@use "./../../../../../styles/variables";

.disabled {
  cursor: auto;
}

.main {
  position: relative;
  bottom: 155px;
  margin-inline: auto;
  width: 89.7%;
  padding: 4px;
  border-radius: 30px;
  background: linear-gradient(
    to top,
    rgba(146, 93, 16, 0),
    rgba(196, 166, 76, 0),
    rgba(148, 95, 20, 0)
  );
  .history {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 180px;
    height: 60px;
    background-image: url("../../../../../assets/images/history.webp");
    border-radius: 30px;
    cursor: pointer;
    text-shadow: 0px 9px 17.3px rgba(39, 20, 13, 0.94);
    font-family: CrocoSansBLACKCaps;
    font-size: 28px;
    font-weight: 900;
    font-family: CrocoSansBlackCAPS;
    padding: 0, 0, 5px 1px;
  }
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  width: 760px;
  height: 971px;
  left: 50%;
  top: 490px;
  transform: translate(-50%, -50%);
  .history-popup {
    display: flex;
    justify-content: space-around;
    height: 70px;
    padding-top: 30px;
  }

  .content {
    max-height: 268px;
    overflow-y: auto;
    margin-right: 8px;

    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }
    &::-webkit-scrollbar-track {
      background: #2f6475;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #3e869c;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #3e869c;
    }
    .history-popup__item {
      background-color: #0c1731;
      display: flex;
      justify-content: space-between;
      padding: 15px 50px;
      margin: 10px auto;
      width: 90%;
      border-radius: 8px;
    }
  }

  &__frame {
    position: relative;
    top: 75px;
    border: 2px solid transparent;
    border-radius: 30px;
    margin-top: 30px;
    .info {
      position: absolute;
      top: -7px;
      left: 600px;
      cursor: pointer;
    }
  }
  &__arrow {
    position: absolute;
    top: 272px;
    z-index: 9;
  }

  &__prizes {
    position: absolute;

    img {
      width: 100%;
      position: relative;
      bottom: -66px;
    }
  }

  &__btn {
    position: absolute;
    cursor: pointer;
    margin-top: 143px;
    z-index: 10;
  }
}

@media (max-width: variables.$tablet) {
  .main {
    transform: scale(0.6);
    bottom: 340px;
  }
  .container {
    &__frame {
      .info {
        top: -23px;
        left: 658px;
        width: 50px;
      }
    }
  }
}

@media (max-width: 650px) {
  .container {
    &__prizes {
      // width: 78%;
    }

    &__arrow {
      // width: 20%;
    }

    &__btn {
      // width: 20%;
    }
  }
}

@media (max-width: 412px) {
  .main {
    transform: scale(0.52);
    bottom: 370px;
  }
  .container {
    &__frame {
      .info {
        left: 635px;
        top: 20px;
      }
    }
  }
}
