.main {
  height: 50%;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  z-index: 1000;
  transform: translate(-50%, -70%) !important;

  &__close {
    position: absolute;
    top: 0px;
    right: 0px;
    width: auto;
    cursor: pointer;
  }
}

@media (max-width: 479px) {
  .main {
    &__close {
      width: 44px;
    }
  }
}
