.four-main-cont {
  display: flex;
  // flex-wrap: wrap;
  justify-content: space-around;
  max-width: 815px;
  height: 301px;
  margin: 0 auto;
  margin-top: 20%;
}

.four-bg_1 {

  max-width: 391px;
  min-height: 301px;
  background-size: 95%;
  object-fit: contain;
  background-image: url(../../../../../assets/iimages/comp-green4.webp);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.four-bg_2 {
  max-width: 391px;
  height: 301px;
  background-size: 95%;
  object-fit: contain;
  background-image: url(../../../../../assets/iimages/comp-pink4.webp);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.four-header_1 {
  width: 313px;
  height: 50px;
  margin: 34px;
  margin-bottom: 56px;
  object-fit: contain;
  font-family: CrocoSansBLACKCaps;
  font-size: 26px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.52px;
  text-align: center;
  color: #fff;
}

.four-body_1 {
  width: 313px;
  height: 95px;
  object-fit: contain;
  font-family: CrocoSansBLACKCaps;
  font-size: 22px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5rem;
  letter-spacing: 0.52px;
  text-align: center;
  color: #fff;
}

.four-header_2 {
  width: 313px;
  height: 50px;
  margin: 34px;
  margin-bottom: 56px;
  object-fit: contain;
  font-family: CrocoSansBLACKCaps;
  font-size: 26px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.52px;
  text-align: center;
  color: #fff;
}

.four-body_2 {
  width: 314px;
  height: 95px;
  object-fit: contain;
  font-family: CrocoSansBLACKCaps;
  font-size: 22px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5rem;
  letter-spacing: 0.52px;
  text-align: center;
  color: #fff;
}


@media (max-width: 450px){
  .four-header_1{
    height: 37px;
    font-size: 22px;
    margin: 52px;
  }
  .four-header_2{
    width: 292px;
    margin: 43px;
    font-size: 22px;
  }
}

@media (max-width: 1024px){
  .four-main-cont{
      flex-wrap: wrap;
  }

  .four-bg_1{
    width: 368px;
  }
  .four-bg_2{
    width: 368px;
  }
}
