<div class="main">
  <p class="main__text">{{ "slots.text" | translate }}</p>
  <div class="container">
    <div
      class="container__slots"
      [style.backgroundColor]="slot.bgColor"
      *ngFor="let slot of slots"
      (click)="onClick(slot.name)"
    >
      <div class="text__container">
        <p class="container__slots__cost">
          1 {{ "spin" | translate }} = {{ slot.cost | gelPipe: false }}
        </p>
        <p class="container__slots__text">{{ slot.name }}</p>
      </div>
      <img class="container__slots__image" [src]="slot.imageUrl" alt="" />
    </div>
  </div>
</div>
