<div class="prize-frame">
  <p class="prize-frame__text">
    <span>{{ "plinko.pt1" | translate }}</span>
    <span>{{ "plinko.pt2" | translate }}</span>
  </p>
</div>

<div class="prize-container">
  <div class="prize-left">
    <p class="prize-frame__title">
      <span>{{ "prize.left.egt" | translate }}</span>
      <span>{{ "prize.left.freespins" | translate }}</span>
    </p>
    <p class="prize-frame__desc">
      <span>{{ "prize.left.description.pt1" | translate }}</span>
      <span>{{ "prize.left.description.pt2" | translate }}</span>
      <span>{{ "prize.left.description.pt3" | translate }}</span>
      <span>{{ "prize.left.description.pt4" | translate }}</span>
    </p>
  </div>
  <div class="prize-right">
    <p class="prize-frame__title">
      <span>{{ "prize.right.egt" | translate }}</span>
      <span>{{ "prize.right.freespins" | translate }}</span>
    </p>
    <p class="prize-frame__desc">
      <span>{{ "prize.right.description.pt1" | translate }}</span>
      <span>{{ "prize.right.description.pt2" | translate }}</span>
      <span>{{ "prize.right.description.pt3" | translate }}</span>
      <span>{{ "prize.right.description.pt4" | translate }}</span>
    </p>
  </div>
</div>