<div class="main">
  <crc-popup-container (closePopup)="closeProgressPopup()" [closeImage]="'assets/images/x.svg'"
    [containerStyles]="popupContainerStyles" [isBackdropClosable]="true" *ngIf="infoProgressPopup">
    <!-- template here -->
  </crc-popup-container>
  <div class="main__texts">
    <p>
      <span><img class="coin-icon" src="./assets/images/coin.webp" alt="coin"></span>
      <span class="bet">{{ "bet" | translate }}</span>
    </p>
    <p>
      <span><img class="spin-icon" src="./assets/images/spin.webp" alt="spin"></span>
      <span class="spin">
        {{ "spin" | translate }}
      </span>
    </p>
  </div>
  <div class="main__zero">{{ 0 | gelPipe: false }}</div>
  <div class="main__bg">
    <div class="container">
      <div class="container__levels" [style.flex-basis]="'calc(100% /' + progressData.levels.length + ')'"
        *ngFor="let level of progressData.levels; index as i">
        <p class="">{{ level.step | gelPipe: false }}</p>
        <div class="container__breaks"></div>
        <div class="container__progress" [style.width.%]="
            i < currentIndex ? 100 : i === currentIndex ? extraWidth : 0
          ">
          <div class="container__slider" *ngIf="i === currentIndex">
            <span class="container__text">{{ progressData.amount }}</span>
          </div>
        </div>
        <img class="container__image" src="./assets/images/spin-{{
            level.imageState
          }}.svg" alt="" />
      </div>
    </div>
    <img class="info" src="./assets/images/info.webp" (click)="openProgressInfo()" alt="info">
  </div>
  <div class="under-main">
    <p> {{"under.pt1" | translate}} X {{"under.pt2" | translate}}</p>
  </div>
</div>