@use "./../../../../../styles/variables";

$progress-color: #15af44;
$main-bg: linear-gradient(0deg, #945527, #ffd372 50%, #945527);
$container-bg: linear-gradient(0deg, #684739, #937050);

:host {
  width: 100%;
  display: block;
  margin: 626px 0 100px 0;
}

.popup__text {
  margin-top: 40px;
}

.container {
  display: flex;
  margin-inline: auto;
  max-width: 562px;
  height: 136px;
  padding-right: 20px;
  position: relative;

  .progress__wrapper {
    height: 100%;
    width: 100%;
    max-width: 137px;
    background-color: #0c5575;
    border-radius: 9999px;
    position: relative;
    z-index: 9;
    box-shadow: inset 0px 3px 2px -2px #fff;

    .progress {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
      align-items: center;

      &__circle {
        margin: auto;
        position: relative;
        width: 94%;
        height: 94%;
        border-radius: 50%;
        background: conic-gradient(#00a75b 3.6deg, #07435e 0deg);
        display: flex;
        align-items: center;
        justify-content: center;
        transform: rotate(180deg);
        box-shadow: inset 0px 0px 10px -2px #000000,
          inset 0px 0px 10px -2px #ffffff;

        &::before {
          content: "";
          position: absolute;
          height: 90px;
          width: 90px;
          border-radius: 50%;
          background-color: #0c5575;
          box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.6),
            0px 0px 4px 1px rgba(255, 255, 255, 0.6);
        }

        &-icon {
          position: absolute;
          top: -15px;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      &__value {
        position: relative;
        font-size: 22px;
        font-weight: 600;
        color: #fff;
        transform: rotate(180deg);
      }
    }
  }

  .balance__wrapper {
    height: 100%;
    background-color: #0c5575;
    max-height: calc(100% - 28px);
    width: calc(100% + 60px);
    position: relative;
    margin: auto 0;
    box-shadow: inset 0px 3px 2px -2px #fff;
    padding: 10px;
    border-bottom-right-radius: 20px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -60px;
      width: 60px;
      height: 100%;
      background-color: #0c5575;
      box-shadow: inset 0px 3px 2px -2px #fff;
    }

    .balance {
      position: relative;
      z-index: 9;
      width: 100%;
      height: 100%;
      background-color: #0d3b51;
      border-radius: 15px;
      display: grid;
      grid-template-columns: 1fr 6px 1fr;
      padding: 10px 15px;
      box-shadow: inset 0px 0px 10px 5px #0000008c;

      &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-text {
          font-size: 17.5px;
        }

        &-amount {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
          margin-top: 5px;
          font-size: 26.5px;
          font-weight: 900;
        }

        &--green {
          color: #15c072;
        }
      }

      &__divider {
        border: 3px solid #2f82a5;
        border-radius: 50px;
      }
    }
  }

  .info__wrapper {
    width: 60px;
    height: 60px;
    background-color: #0c5575;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 9999px;
    box-shadow: inset 0px 3px 2px -2px #fff;

    &-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 99;
      cursor: pointer;
    }
  }
}

@media (max-width: 610px) {
  :host {
    width: 97%;
    margin-top: 330px;
  }

  .container {
    padding-right: 10px;

    .info__wrapper {
      width: 50px;
      height: 50px;

      &-icon {
        width: 33px;
      }
    }
  }
}

@media (max-width: 479px) {
  .container {
    .progress__wrapper {
      .progress {
        &__value {
          font-size: 20px;
        }
      }
    }

    .balance__wrapper {
      .balance__info {
        &-text {
          font-size: 12px;
        }

        &-amount {
          font-size: 17px;
        }
      }
    }
  }
}

@media (max-width: 419px) {
  .container {
    .balance {
      padding: 10px 5px !important;
    }

    .progress__wrapper {
      .progress {
        &__value {
          font-size: 18px;
        }
      }
    }

    .balance__wrapper {
      .balance__info {
        &-text {
          font-size: 9.5px;
        }

        &-amount {
          font-size: 14.5px;
        }
      }
    }
  }
}
