@use "./../../../../../styles/variables";

$progress-color: #15af44;
$main-bg: linear-gradient(0deg, #945527, #ffd372 50%, #945527);
$container-bg: linear-gradient(0deg, #684739, #937050);

:host {
  display: block;
  margin: 100px 0;
}

.outline {
  padding: 2px;
  background-image: $main-bg;
}

.main {
  position: relative;
  max-width: 695px;
  border-radius: 15px;
  height: 120px;
  margin: auto;


  &__wrapper {
    height: 100%;
    margin: auto;
    display: flex;
    border-radius: 15px;
    padding: 5px 10px;
    background: url(../../../../../assets/iimages/progres-bar/pb-bg.webp);
    background-position: center;
    background-repeat: no-repeat;
  }

  &__texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    font-size: variables.$font-size-m;
  }

  .progres-info{
    width: 26px;
    height: 26px;
    position: absolute;
    right: 13px;
    top: 10px;
    cursor: pointer;
  }
  .text-group {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      margin-right: 10px; /* Adjust the margin between image and text */
    }


  }
  &__bg {
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 80%;



  }

  .container {
    display: flex;
    align-items: center;
    width: 90%;

    &__breaks {
      position: absolute;
      left: 100%;
      top: 50%;
      background-color: $progress-color;
      transform: translate(-50%, -50%);
    }

    .line {
      height: 6px;
      width: 35px;
    }

    .dot {
      height: 10px;
      width: 15px;
      border-radius: 999px;
    }

    &__levels {
      font-size: variables.$font-size-l;
      position: relative;

      p,
      img {
        position: absolute;
        left: 100%;
        transform: translateX(-50%);
      }
      p {
        bottom: 30px;
      }
      img {
        top: 30px;
      }
    }

    &__progress {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 6px;
      border-radius: 1px;
    }

    &__slider {
      position: absolute;
      right: 0px;
      font-size: variables.$font-size-l;
      transform: translateX(50%);
      z-index: 9;
    }

    &__text {
      padding: 5px 10px;
      border-radius: 13px;
    }
  }
}

@media (max-width: 550px) {
  .main {
    &__texts {
      font-size: variables.$font-size-s;
    }

    .container {
      &__levels {
        font-size: variables.$font-size-s;

        p {
          bottom: 27px;
        }

        img {
          top: 27px;
          width: 20px;
        }
      }

      &__text {
        font-size: variables.$font-size-s;
        padding: 4px 8px;
      }
    }
  }
}
