<div class="container">
  <crc-popup-container
    (closePopup)="closePopup()"
    [closeImage]="'assets/images/prog/x.png'"
    [containerStyles]="popupContainerStyles"
    [isBackdropClosable]="true"
    *ngIf="popup"
  >
    <h4 class="popup__header">დღეს დააგროვე</h4>

    <p class="popup__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse
      ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
      facilisis.
    </p>
  </crc-popup-container>

  <div class="progress__wrapper">
    <div class="progress">
      <div class="progress__circle" #progress>
        <img class="progress__circle-icon" src="assets/images/prog/prog.png" />
        <span class="progress__value">{{ progressEndValue }} / 100</span>
      </div>
    </div>
  </div>
  <div class="balance__wrapper">
    <div class="balance">
      <div class="balance__info">
        <div class="balance__info-text">დღეს დააგროვე</div>
        <div class="balance__info-amount">
          500/1000
          <img
            class="balance__info-icon"
            src="assets/images/prog/prog-off.png"
          />
        </div>
      </div>

      <div class="balance__divider"></div>

      <div class="balance__info">
        <div class="balance__info-text balance__info--green">ჩემი ბალანსი</div>
        <div class="balance__info-amount balance__info--green">
          700
          <img
            class="balance__info-icon"
            src="assets/images/prog/prog-on.png"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="info__wrapper">
    <img
      (click)="popup = true"
      class="info__wrapper-icon"
      src="assets/images/prog/i.png"
    />
  </div>
</div>
