<div class="container">
  <app-win-popup [(displayPopup)]="openPopup"></app-win-popup>
  <img
    class="container__bg"
    src="../../../assets/images/slot-vip-wheel/{{ wheelType }}-bg-ge.png"
    alt=""
  />

  <div class="container__wheel">
    <img
      #prizeElement
      src="../../../assets/images/slot-vip-wheel/{{ wheelType }}-wheel-ge.png"
      alt=""
    />
  </div>

  <!-- (click)="getPrize()" -->
  <div class="container__btn" [ngClass]="{ disableBtn: isDisabled === true }">
    <img
      src="../../../assets/images/slot-vip-wheel/{{ wheelType }}-btn-ge.png"
      alt=""
      (click)="makeAnimation(8)"
    />
  </div>
</div>
