@use "../../../fonts";

$main-bg: #252f43;
$secondary-bg: #252f43;

.container {
  margin-bottom: 10px;
}

.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
  width: 100%;
}

.last-container {
  margin-bottom: 0;
}

.acc-header {
  min-height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 14px;
  color: #fff;
  border-radius: 6px;
  background-color: $secondary-bg;
}

.acc-main-header {
  display: flex;
  padding-right: 20px;
  padding-left: 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background-color: $main-bg;
  transition: all 500ms ease;
  cursor: pointer;
}

.header-title {
  overflow-wrap: break-word;
  overflow: auto;
  width: 100%;
  text-align: start;
  font-size: 16px;
  font-family: fonts.$font-bold;
}

.acc-body {
  min-height: 30px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  line-height: 1.5rem;
  font-family: fonts.$font-regular;
  font-size: 14px;
  text-align: left;
}

.arrow {
  display: flex;
  align-items: center;
}

@media (max-width: 999px) {
  .w-container {
    width: 90%;
  }

  .acc-body {
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .acc-body,
  .header-title {
    font-size: 12px;
  }

  .acc-header {
    padding: 8px;
  }

  .arrow-img {
    width: 18px;
  }
}
