<div class="main">
  <div class="auth-container">
    <div class="auth-container__text">
      <p>{{ "auth.text" | translate }}</p>
    </div>

    <div class="auth-container__buttons">
      <button
        class="auth-container__buttons__btn"
        [class.pulse-reg]="hasAnimation"
        (click)="onRegister()"
      >
        {{ "register" | translate }}
      </button>
      <button
        class="auth-container__buttons__btn btn--black"
        [class.pulse-auth]="hasAnimation"
        (click)="onLogin()"
      >
        {{ "authorization" | translate }}
      </button>
    </div>
  </div>
</div>
