@use "./../../../fonts";
@use "./../../../styles/variables";

:host {
  width: 100%;
}

.pulse-reg {
  animation: variables.$pulse;
}

.pulse-auth {
  animation: variables.$pulse-blue;
}

.main {
  width: 100%;
  max-width: 900px;
  display: flex;
  justify-content: center;
  margin-inline: auto;
  margin-bottom: 10px;
  padding-bottom: 45px;

  .auth-container {
    display: flex;
    width: 90%;
    // margin-top: 40px;
    column-gap: 15px;
    justify-content: center;
    align-items: center;
    background-color: variables.$auth-bg-color;
    font-size: variables.$font-size-m;
    line-height: 125%;
    padding: 15px;
    border-radius: 5px;
    color: variables.$white;
    height: 65px;

    &__text {
      margin-right: 10px;
      text-align: left;
    }

    &__buttons {
      display: flex;
      column-gap: 16px;

      &__btn {
        background-color: variables.$reg-btn-color;
        color: variables.$white;
        font-size: variables.$font-size-l;
        line-height: 1;
        padding: 13px 20px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
      }

      .btn--black {
        background-color: variables.$auth-btn-color;
      }
    }
  }
}

@media (max-width: variables.$tablet-l) {
  .main {
    margin-inline: auto;
  }
}

@media (max-width: variables.$tablet) {
  :host {
    width: 90%;
  }

  .main {
    padding-bottom: 0;

    .auth-container {
      flex-direction: column;
      border-radius: 15px;
      width: 100%;
      padding: 15px;
      height: auto;

      &__text {
        font-size: variables.$font-size-s;
        text-align: center;
      }

      &__buttons {
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

@media (max-width: variables.$mobile) {
  .main {
    .auth-container {
      padding: 15px;
      border-radius: 10px;
      margin: 15px 0 23px 0;

      &__text {
        font-size: variables.$font-size-xs;
        line-height: 120%;
      }

      &__buttons {
        column-gap: 10px;

        &__btn {
          font-size: variables.$font-size-s;
          padding: 13px;
        }
      }
    }
  }
}
