<div data-w-tab="Tab 2" class="tab-panel w-tab-pane">
  <div class="tabs_wrap blue">
    <div class="golden_str">
      <div class="tab_cintent-wrp grn">
        <div
          id="w-node-d0ad0f8d-82a0-59a2-0b64-f36be39b66fd-891ec38b"
          class="date"
        >
          <div>08.06-22.06</div>
          <img
            src="../../../{{ filePath }}assets/images/video-icon.png"
            loading="lazy"
            alt=""
            class="video-icon"
          />
        </div>
        <div class="text-block-2">
          {{ "collectTickets" | translate }}
          <span
            data-w-id="d0ad0f8d-82a0-59a2-0b64-f36be39b6703"
            class="text-span-2"
            (click)="openFinalPopup()"
            >{{ "finalPrize" | translate }}</span
          >
        </div>
        <div class="tab_points_wrp">
          <div class="w-layout-grid grid_wrp _2">
            <div class="cards_wrp grn left">
              <!-- (mouseover)="changeStyle($event)"
              (mouseout)="changeStyle($event)" -->
              <div
                data-w-id="d0ad0f8d-82a0-59a2-0b64-f36be39b671b"
                class="item_trigger_wrp"
              >
                <div class="card_title">{{ "deposit" | translate }}</div>
                <div class="text-block">
                  1 000₾ = 1 {{ "ticket" | translate }}
                </div>
                <div>{{ "myTickets" | translate }}</div>
                <div class="progress_bar">
                  <div class="div-block-19398">
                    <div class="progress_wrp">
                      <div
                        id="depProgress_final"
                        class="progress_green_lr"
                        [style.width.%]="progress.depositProgress"
                      >
                        <div class="text-block-692">
                          {{ userData.depositProgress }}₾
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="progress_tkt">
                    <div>{{ "ticket" | translate }}</div>
                    <div class="text-block-708">+1</div>
                  </div>
                </div>
                <div class="tkt_stroke _2">
                  <div class="tkt_wrp _2">
                    <div id="tkt_dep_final" class="tkt_text">
                      {{ userData.deposit }}
                    </div>
                  </div>
                </div>
                <div class="progress_popup_wrp">
                  <div class="progress_popup_top">
                    <div>
                      {{ "yourProgress" | translate }}
                      <span id="dep_p_final" class="text-span-172"
                        >{{ userData.depositProgress }}₾</span
                      >
                    </div>
                  </div>
                  <div>{{ "forTicket" | translate }}</div>
                </div>
              </div>
            </div>
            <div class="cards_wrp grn right">
              <div
                data-w-id="d0ad0f8d-82a0-59a2-0b64-f36be39b6727"
                class="item_trigger_wrp"
              >
                <div class="card_title">{{ "slotCasinoUFO" | translate }}</div>
                <div class="text-block">
                  {{ "sum2" | translate }} = 1 {{ "ticket" | translate }}
                </div>
                <div>{{ "myTickets" | translate }}</div>
                <div class="progress_bar">
                  <div class="div-block-19398">
                    <div class="progress_wrp">
                      <div
                        id="ufoProgress_final"
                        class="progress_green_lr"
                        [style.width.%]="progress.betProgress"
                      >
                        <div class="text-block-692">
                          {{ userData.betProgress }}₾
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="progress_tkt">
                    <div>{{ "ticket" | translate }}</div>
                    <div class="text-block-708">+1</div>
                  </div>
                </div>
                <div class="tkt_stroke _2">
                  <div class="tkt_wrp _2">
                    <div id="tkt_ufo_final" class="tkt_text">
                      {{ userData.bet }}
                    </div>
                  </div>
                </div>
                <div
                  data-w-id="9d858312-1fd9-f62b-5934-a32363db088b"
                  class="progress_popup_wrp"
                  [ngClass]="color"
                >
                  <div class="progress_popup_top">
                    <div>
                      {{ "yourProgress" | translate }}
                      <span id="ufo_p_final" class="text-span-172"
                        >{{ userData.betProgress }}₾</span
                      >
                    </div>
                  </div>
                  <div>{{ "forTicket2" | translate }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="div-block-19403 grn">
            <div>{{ "ticketsSum" | translate }}</div>
            <div class="tkt_stroke _22">
              <div class="tkt_wrp _2">
                <div id="tkt_auto" class="tkt_text">{{ userData.total }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="raffle-wrp">
          <div class="play_icon"></div>
          <div class="text-block-22886">
            გათამაშება გაიმართება 24 ივლისს, 21:55 საათზე, კროკობეთის ოფიციალურ
            ვებ-გვერდზე.
          </div>
        </div>
        <div class="popup_lr_final" *ngIf="openPopup">
          <div class="w-layout-grid grid-209044">
            <div class="text-block-690 _3">
              {{ "winner" | translate }} N1 – 5 000₾
            </div>
            <div class="text-block-690 _3">
              {{ "winner" | translate }} N2 – 10 000₾
            </div>
            <div class="text-block-690 _3">
              {{ "winner" | translate }} N3 – 15 000₾
            </div>
            <div class="text-block-690 _3">
              {{ "winner" | translate }} N4 – {{ "flatatbatumi" | translate }}
            </div>
          </div>
          <img
            src="../../../{{ filePath }}assets/images/x.svg"
            loading="lazy"
            data-w-id="c329a4b8-d8d7-c97b-403d-6737f996ab8a"
            alt=""
            class="x_popup"
            (click)="closePopup()"
          />
        </div>
      </div>
    </div>
  </div>
</div>
