<div class="live-border">
  <div class="live">
    <div class="live__header">
      {{ "watch-live" | translate }}
      <span (click)="onInfoOpen()">{{ "win-spins" | translate }}</span>
    </div>
    <div (click)="toggleVideoDrop()" class="live__drop-trigger">
      <img
        [@spinArrow]="dropVideo ? 'open' : 'close'"
        src="assets/images/live/arr.svg"
        alt=""
      />
    </div>
    <div class="live__drop" [@openClose]="dropVideo ? 'open' : 'close'">
      <div class="live__drop__timer" *ngIf="!liveUrl">
        <div class="live__drop__timer__content">
          <div class="live__drop__timer__content__text">
            {{ "wait-live" | translate }}
          </div>
          <div class="live__drop__timer__content__countdown">
            <div class="live__drop__timer__content__countdown__border">
              <div class="live__drop__timer__content__countdown__border__time">
                <div
                  class="live__drop__timer__content__countdown__border__time__num"
                >
                  {{ timer.hours }}
                </div>
                <div
                  class="live__drop__timer__content__countdown__border__time__text"
                >
                  {{ "hour" | translate }}
                </div>
              </div>
            </div>
            <div class="live__drop__timer__content__countdown__border">
              <div class="live__drop__timer__content__countdown__border__time">
                <div
                  class="live__drop__timer__content__countdown__border__time__num"
                >
                  {{ timer.minutes }}
                </div>
                <div
                  class="live__drop__timer__content__countdown__border__time__text"
                >
                  {{ "min" | translate }}
                </div>
              </div>
            </div>
            <div class="live__drop__timer__content__countdown__border">
              <div class="live__drop__timer__content__countdown__border__time">
                <div
                  class="live__drop__timer__content__countdown__border__time__num"
                >
                  {{ timer.seconds }}
                </div>
                <div
                  class="live__drop__timer__content__countdown__border__time__text"
                >
                  {{ "sec" | translate }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="live__drop__live" *ngIf="liveUrl" #liveContainer>
        <iframe
          allow="autoplay"
          [src]="liveUrl | safeUrl"
          frameborder="0"
          class="live-container-iframe"
        ></iframe>
      </div>
      <div class="live__drop__freespins">
        <div class="live__drop__freespins__content">
          <div class="live__drop__freespins__content__text">
            {{ "freespins-text" | translate }}
          </div>
          <div
            (click)="submitAnswer()"
            class="live__drop__freespins__content__button"
          >
            {{ "get-freespins" | translate }}
          </div>
        </div>
      </div>
    </div>
    <div class="live__recent">
      <div class="live__recent__header">
        <img src="./assets/images/live/play.svg" alt="" />
        <span>{{ "watch-recent" | translate }}</span>
      </div>
      <div class="live__recent__videos">
        <div
          *ngFor="let video of streams; index as i"
          (click)="openRecentVideo(i)"
          class="live__recent__videos__video"
        >
          <div
            style="padding-top: 56.17021276595745%"
            class="live__recent__videos__video__iframe"
          >
            <iframe
              [src]="video.twitchUrl | safeUrl"
              frameborder="0"
              allow="autoplay; encrypted-media"
              allowfullscreen=""
              title="🟢 კროკობეთის გრანდიოზული გათამაშება დაიწყო."
            ></iframe>
          </div>
          <div class="live__recent__videos__video__title">
            {{ video.schedule | translate }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="overlay"
    *ngIf="
      openInfo ||
      showPrize ||
      showAuthError ||
      showMinTicketError ||
      showOutOfRangeError ||
      showSubmited
    "
  ></div>

  <div #bonusPopup class="popup" *ngIf="openInfo">
    <div class="popup__info">
      <img
        src="./assets/images/live/x.svg"
        data-w-id="df4428f1-b7ca-48ba-e34b-51cdad36f7c1"
        alt=""
        class="popup-x"
        (click)="onInfoClose()"
      />
      <p>
        {{ "live-info-popup.1" | translate }}<br />
        <br />
        {{ "live-info-popup.2" | translate }}<br />
        <br />
        {{ "live-info-popup.3" | translate }}<br />
        <br />
        {{ "live-info-popup.4" | translate }}<br />
        <br />
        {{ "live-info-popup.5" | translate }}<br />
        <br />
        {{ "live-info-popup.6" | translate }}<br />
        <br />
        {{ "live-info-popup.7" | translate }}
      </p>
    </div>
  </div>

  <div class="popup" *ngIf="showPrize">
    <div class="popup__prize">
      <img
        src="./assets/images/live/x.svg"
        data-w-id="df4428f1-b7ca-48ba-e34b-51cdad36f7c1"
        alt=""
        class="popup-x"
        (click)="onPrizeClose()"
      />
      <h6 class="popup__prize__header">
        {{ "live-prize-popup.1" | translate }}
      </h6>
      <div>
        {{ "live-prize-popup.2" | translate }}
        {{ prizeAmount }}
        {{ "live-prize-popup.3" | translate }}
      </div>
      <div class="popup__prize__footer">
        {{ "live-prize-popup.4" | translate }}
      </div>
    </div>
  </div>

  <div class="popup" *ngIf="showAuthError">
    <div class="popup__auth">
      <img
        src="./assets/images/live/x.svg"
        data-w-id="df4428f1-b7ca-48ba-e34b-51cdad36f7c1"
        alt=""
        class="popup-x"
        (click)="onAuthErrorClose()"
      />
      <div>{{ "live-auth-popup" | translate }}</div>
      <div class="popup__auth__buttons">
        <div class="popup__auth__buttons__auth">
          {{ "register" | translate }}
        </div>
        <div class="popup__auth__buttons__reg">
          {{ "authorization" | translate }}
        </div>
      </div>
    </div>
  </div>

  <div class="popup" *ngIf="showMinTicketError">
    <div class="popup__mintkt">
      <img
        src="./assets/images/live/x.svg"
        data-w-id="df4428f1-b7ca-48ba-e34b-51cdad36f7c1"
        alt=""
        class="popup-x"
        (click)="onMinTicketErrorClose()"
      />
      {{ "live-mintkt-popup.1" | translate }}
      <span>{{ "live-mintkt-popup.2" | translate }}</span>
    </div>
  </div>

  <div class="popup" *ngIf="showSubmited">
    <div class="popup__submited">
      <img
        src="./assets/images/live/x.svg"
        data-w-id="df4428f1-b7ca-48ba-e34b-51cdad36f7c1"
        alt=""
        class="popup-x"
        (click)="onSubmitedClose()"
      />
      {{ "live-submited-popup" | translate }}
    </div>
  </div>

  <div class="popup" *ngIf="showOutOfRangeError">
    <div class="popup__range">
      <img
        src="./assets/images/live/x.svg"
        data-w-id="df4428f1-b7ca-48ba-e34b-51cdad36f7c1"
        alt=""
        class="popup-x"
        (click)="onOutOfRangeErrorClose()"
      />
      <div>{{ "live-range-popup.1" | translate }}</div>
      <br />
      <div>{{ "live-range-popup.2" | translate }}</div>
    </div>
  </div>

  <div class="video-popup" *ngIf="showRecentVideo">
    <img
      src="./assets/images/live/x.svg"
      class="video-popup-close"
      alt=""
      scroll="no"
      (click)="closeRecentVideo()"
    />
    <iframe
      [src]="recentVideoUrl | safeUrl"
      frameborder="0"
      allow="fullscreen"
      class="video-popup-iframe"
    ></iframe>
  </div>
</div>
