<div class="header" [ngStyle]="{'padding-bottom': (isAuthorized | async) ? '0' : ''}">
  <!-- header image -->
  <!-- <img class="header__img" [src]="headerUrl | async" alt="" /> -->

  <!-- header text (description) -->
  <div class="header__text">
    <p style="font-family: CrocoSansBlackCAPS;">{{ "description.1" | translate }}</p>
    <p style="font-family: CrocoSansBlackCAPS;">{{ "description.2" | translate }}</p>
    <p style="font-family: CrocoSansBlackCAPS;">{{ "description.3" | translate }}</p>
  </div>
</div>