$font-path: '/assets/fonts/';

@mixin register-font($name) {
  @font-face {
    font-family: $name;
    src: url($font-path + $name + '.woff') format('woff');
  }
}

@include register-font(CrocoSansBlackCAPS);
@include register-font(CrocoSansCAPSRegular);
@include register-font(ProximaNova);
@include register-font(TTSupermolotNeue);

$font-bold: 'CrocoSansBlackCAPS', sans-serif;
$font-regular : 'CrocoSansCAPSRegular', sans-serif;
$font-thin : 'ProximaNova', sans-serif;
$font-extra-bold: 'TTSupermolotNeue', sans-serif;
