@use "./fonts";
@use "./styles/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: variables.$white;
  font-family: fonts.$font-regular;
}

body:-webkit-scrollbar {
  display: none;
}

button {
  border: 0;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: variables.$level-2;
}


.pointer {
  &:hover {
    cursor: pointer;
  }
}

.click {
  &:active {
    transition: 0.1s;
    transform: scale(0.8);
  }
}
