@use "swiper/scss";
@use "swiper/scss/navigation";
@use "swiper/scss/pagination";

@use "./fonts";
@use "./styles/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: variables.$white;
  font-family: fonts.$font-regular;
}

body:-webkit-scrollbar {
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff;
  opacity: 1;
}
