


.container{
  width: 253px;
  height: 157px;
  background-image: url(../../../../../src/assets/iimages/main-background.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
