<!-- <crc-play-button [hasAnimation]="hasAnimation"></crc-play-button> -->
<!-- <crc-progress-bar
  [levels]="levels"
  [userData]="userData"
  [config]="progressConfig"
></crc-progress-bar>
<crc-wheel [isDisabled]="isDisabled"></crc-wheel>
<crc-slots></crc-slots>
<crc-promos></crc-promos> -->
<!-- <div class="container">
  <crc-time-balance></crc-time-balance>
  <crc-spin></crc-spin>
</div> -->
<crc-authorization-block></crc-authorization-block>
<crc-play-button></crc-play-button>
<crc-min-max></crc-min-max>
<crc-balance-bar></crc-balance-bar>
