<crc-play-button [hasAnimation]="hasAnimation"></crc-play-button>
<crc-progress-bar
  [progressData]="progressData"
  [userData]="userData"
></crc-progress-bar>
<crc-wheel [isDisabled]="isDisabled"></crc-wheel>
<crc-slots></crc-slots>
<crc-live></crc-live>
<crc-promotions-swiper></crc-promotions-swiper>
<crc-withdraw-popup
  (click)="onPopupClose($event)"
  *ngIf="showWithdrawPopup$ | async as data"
  [cashOutSetter]="data"
></crc-withdraw-popup>

<crc-congrat-popup
  (click)="onPopupClose($event)"
  *ngIf="showCongratPopup$ | async as data"
  [data]="data"
></crc-congrat-popup>
