@mixin card($bgColor) {
  cursor: pointer;
  border-radius: 10px;
  max-width: 39%;
  padding: 8px;
  background-color: $bgColor;
  box-shadow: inset -2px -2px 0 0 rgb(0 0 0 / 40%),
    inset 3px 3px 0 0 hsl(0deg 0% 100% / 20%);
}

.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
}

.popup {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-image: url("../../../assets/images/slot-vip-wheel/crc3.png");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 615px;
  height: 365px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 12;
  border: 1px solid #9eb0c7;
  border-radius: 10px;
  box-shadow: 1px 1px 60px 100vw rgb(0 0 0 / 60%);

  &__header {
    padding: 20px 30px 15px 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #553913;
    box-shadow: inset -1px -1px 3px 0 rgb(0 0 0 / 40%);
    font-size: 20px;
    line-height: 1;

    span {
      margin-right: 10px;
      margin-left: 10px;
      padding: 10px;
      border: 1px solid #9eb0c7;
      border-radius: 10px;
      background-color: #332109;
      box-shadow: inset 0 0 5px 0 rgb(0 0 0 / 50%);
    }
  }

  &__choose {
    margin-top: 13px;
    font-size: 18px;
    line-height: 1;
  }

  &__slots {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    // width: 90%;
    width: 70%;
    height: 40%;
    font-size: 14px;

    .price {
      padding: 7px 0;
    }

    img {
      width: 130px;
      border-radius: 10px;
    }

    &-1 {
      @include card(#47a129);
    }

    &-2 {
      @include card(#ae9313);
    }

    &-3 {
      @include card(#128cc5);
    }
  }

  &__get {
    column-gap: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-style: solid solid none;
    border-width: 1px;
    border-color: #d9c677;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #1a1816;
    font-size: 18px;
    line-height: 1;
  }
}

.bt_gaanagde {
  padding: 20px 25px;
  border-radius: 15px;
  background-color: #11825e;
  box-shadow: inset 0 -5px 3px 0 #026f3a, inset 0 5px 3px 0 #59b98e;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-family: Ttsupermolotneue, sans-serif;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
}

.close {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 20px;
  margin-top: 15px;
  margin-right: 15px;
  cursor: pointer;
}
