<ng-container *ngIf="displayPopup">
  <div class="popup">
    <img
      class="close"
      src="../../../assets/images/slot-vip-wheel/x.svg"
      alt=""
      (click)="onClose()"
    />
    <div class="popup__header">
      შენ მიიღე <span>3</span> ცალი 0.15₾ EGT ფრისპინი
    </div>
    <div class="popup__choose">
      გაიტანე პრიზი ან აირჩიე მოცემული სლოტებიდან ერთ-ერთი და გადაცვალე
      ფრისპინები
    </div>
    <div class="popup__slots">
      <div class="popup__slots-1">
        <img
          src="../../../assets/images/slot-vip-wheel/20-dazzling.png"
          alt=""
        />
        <div class="price">
          <p>20 DAZZLING HOT</p>
          <p>1 სპინი = 1₾</p>
        </div>
      </div>
      <div class="popup__slots-2">
        <img src="../../../assets/images/slot-vip-wheel/crown.png" alt="" />
        <div class="price">
          <p>SHINING CROWN</p>
          <p>1 სპინი = 2₾</p>
        </div>
      </div>
      <div class="popup__slots-3">
        <img src="../../../assets/images/slot-vip-wheel/81-wins.png" alt="" />
        <div class="price">
          <p>81 WINS</p>
          <p>1 სპინი = 5₾</p>
        </div>
      </div>
    </div>
    <div class="popup__get">
      <p>1000 ცალი 0.15₾ ფრისპინი</p>
      <a class="bt_gaanagde">მიღება</a>
    </div>
  </div>
  <div class="background"></div>
</ng-container>
