<div class="card">
  <div class="card__content">
    <div class="card__content-game">
      <video autoplay loop muted playsinline>
        <source [src]="card.video" type="video/mp4" />
      </video>
    </div>

    <span class="card__content-name">{{ card.name }}</span>
  </div>

  <div class="card__footer">
    <div class="card__footer-amount">
      <span>{{ "mini" | translate }}</span> {{ "bet" | translate }}
      <span>{{ card.bet }}</span>
    </div>

    <button (click)="changeTab(card.gameId)">{{ "play" | translate }}</button>
  </div>
</div>
