<div class="container" #target>
  <div class="cards">
    <div class="cards__arrows">
      <img
        (click)="onArrowClick('left')"
        src="assets/images/swiper-arrow.png"
      />
      <img
        (click)="onArrowClick('right')"
        src="assets/images/swiper-arrow.png"
      />
    </div>

    <crc-game-card
      *ngFor="let card of cards"
      class="card"
      [ngClass]="card.position"
      [name]="'MASTER WHEEL'"
      [video]="card.video"
      (click)="card.position === 'active' ? null : onArrowClick(card.position)"
    ></crc-game-card>
  </div>
</div>
